@model IEnumerable<OnlineStore.Models.Data.User>

@{
	ViewData["Title"] = "AllUsers";
}

<h4>(Test page)</h4>

<div class="container-fluid">
	<center><h3 class="bg-primary">Users</h3></center>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>User login</th>
				<th>Nickname</th>  
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Login)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Nickname)
					</td> 
					<td>
						<a asp-action="Register" asp-controller="Account">Back to registration</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

