@model OnlineStore.Models.ViewModels.UserViewModel

@{
	ViewData["Title"] = "Profile";
}

<div class="container-fluid">
	<center><h2 class="bg-primary">Profile</h2></center>

	<table class="table table-striped">
		<h4>@ViewData["Info"]</h4> 
		<form asp-action="Profile" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="nav navbar-nav"> 
				<div class="form-group">
					<label class="control-label">Nickname</label>
					<input class="form-control" asp-for="@Model.Nickname" />
					<span asp-validation-for="Nickname" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Phone</label>
					<input class="form-control" asp-for="@Model.Phone" />
					<span asp-validation-for="Phone" class="text-danger"></span>
				</div>
				<div>
					<input type="submit" class="btn btn-default" value="Save" />
				</div>
			</div>
		</form>
	</table>
</div>