@model OnlineStore.Models.ViewModels.RegisterViewModel;

@{
	ViewData["Title"] = "Register";
}

<div class="container-fluid">
	<center><h2 class="bg-primary">Registration form</h2></center>
	<div>
		<a asp-action="AllUsers" asp-controller="Account">User list (for test)</a>
	</div> 
	<table class="table table-bordered"> 
		<form asp-action="Register" method="post">
			<div class="nav navbar-nav">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label class="control-label" asp-for="Email">Email:</label>
					<input class="form-control" asp-for="Email" />
				</div>
				<div class="form-group">
					<label class="control-label" asp-for="Password">Password:</label>
					<input class="form-control" asp-for="Password" />
				</div>
				<div class="form-group">
					<label class="control-label" asp-for="ConfirmPassword">ConfirmPassword:</label>
					<input class="form-control" asp-for="ConfirmPassword" />
				</div>
				<div class="form-group">
					<label class="control-label" asp-for="Nickname">Nickname:</label>
					<input class="form-control" asp-for="Nickname" />
				</div>
				<div class="form-group">
					<label class="control-label" asp-for="Phone">Phone:</label>
					<input class="form-control" asp-for="Phone" />
				</div>
				<div>
					<div class="text-center">
						<button type="submit" class="btn btn-default">Register</button>
						<p>
							Already registered? 
							<a asp-action="Login" asp-controller="Account" class="btn btn-link">Log In</a>
						</p>
					</div>
				</div>
			</div>
		</form>
	</table>
</div>

