
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
 
<head>
	<meta name="viewport" content="width=device-width" />
	<title>OnlineStore</title>
</head>
<body>
	<div>
		<h2>Welcome to my store</h2>
		<div>
			<div>
				<a asp-action="Products">Go to shoping</a>
			</div>
			<div>
				<a asp-action="PurchaseHistory">Go to purchase history</a>
			</div>
		</div>
	</div> 
</body>
</html>


