@model OnlineStore.Models.Data.Product

@{
    ViewData["Title"] = "SuccessfulPurchase";
}

<h2>SuccessfulPurchase</h2>

<div>
	<div class="alert alert-success">
		Product <strong>@Model.Name</strong> successfully added to your purchases.
	</div> 
	<div>
		<a asp-action="Products" asp-controller="Home">Go to shoping</a>
	</div>
	<div>
		<a asp-action="Index" asp-controller="Home">Go to home page</a>
	</div>
</div>
